body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    max-width: 900px;
    width: 100%;
    margin:0 auto;
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

header a {
    text-decoration: none;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav i {
    font-size: 1.3rem;
}

main, 
section {
    display: flex;
    flex-direction: column;
}

main {
    gap: 4rem;
}

section {
    gap: 1rem;
}

.intro-header p {
    padding-top: 0.25rem;
}

.intro-description {
    max-width: 450px;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.link-arrow {
    color: var(--color-link);
    transform: rotate(-315deg);
}

.color-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cards-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
}

.project-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.5rem;
}

.tech-list {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    flex-wrap: wrap;
    padding: 0.25rem 0;
}

.tech-list div {
    padding: 0.1rem 0.5rem;
    border-radius: var(--border-radius-small);
}

.tech-list p {
    font-size: 0.8rem;
}

@media (max-width: 640px) {
    header ul {
        display: none;
    }

    .project-card {
        flex-direction: column;
        gap: 1rem;
    }
}

@media(min-width: 642px) {
    .project-card{
        flex-direction: row;
    }

    .project-card .img-div {
        max-width: 30%;
    }
}